:root {
  --white: #ffffff;
  --black: #202020;
  --gray0: #eeeeee;
  --gray1: #dddddd;
  --gray2: #cccccc;
  --gray3: #bbbbbb;
  --gray4: #aaaaaa;
  --gray5: #999999;
  --gray6: #888888;
  --gray7: #777777;
  --gray8: #666666;
  --gray9: #555555;
  --gray10: #444444;
  --gray11: #333333;
  --gray12: #222222;
  --color1: #157412; // background
  --color2: #f0f8f2; // content-background
  --color3: #dbf8e7; // droparea-background
  --color4: #b2e4c9; // droparea-background-hover
  --color5: #198528; // button-selected
  --color6: #0e701b; // button-selected-hover
  --color7: #ffffff; // button-unselected
  --color8: #effff2; // button-unselected-hover
  --color9: #43af51; // button-border
  --color10: #09911b; // button-border-hover
  --color11: #259634; // button-text
  --color12: #198528a1; // switch-disabled-color
  --color13: #00570c; // button-selected-active
  --color14: #ffffff4a; // mask
  --yellow1: #fffdea; // attention-background
  --yellow2: #eae286; // attention-border
  --yellow3: #dfc500; // attention-icon
  --red: #ed4956;
  --blue: #4f6dc0;
}
