html {
  font-size: var(--font-size-sm);
}

body {
  background-color: var(--primary700);
  color: var(--gray950);
  font-weight: 300;
  font-size: var(--font-size-sm);
  font-family: 'Noto Sans JP', sans-serif;

  .dark-mode & {
    background-color: var(--gray900);
    color: var(--gray50);
  }
}

h3 {
  font-size: var(--font-size-md);
}

h2 {
  font-size: var(--font-size-md);
}

h1 {
  font-size: var(--font-size-md);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
